.grid {
  border: 2px solid #8ff;
  display: flex;
  flex-direction: column;
}

.grid-group {
  border: 2px solid #f8f;
  margin: 8px;
  display: flex;
  flex: 1;
}

.grid-cell {
  border: 2px solid #ff8;
  margin: 8px;
  min-width: 0;
  flex: 1;
}
